/* Global Styles */
html {
	background: #FAFAFA; /* Zinc 50 */
	color: #18181B; /* Zinc 900 */
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    transition: color 0.15s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

/* Minimalist selection color */
::selection {
    background: #000;
    color: white;
}
