---
import type { CollectionEntry } from 'astro:content';

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<li class="group">
    <a href={`/blog/${post.slug}/`} class="flex flex-col sm:flex-row sm:items-baseline justify-between gap-1 sm:gap-4">
        <span class="text-zinc-900 group-hover:underline underline-offset-4 decoration-zinc-400">
            {post.data.title}
        </span>
        <span class="text-sm text-zinc-400 tabular-nums shrink-0">
            {post.data.date.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric'
            })}
        </span>
    </a>
</li>
