---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import site from '../data/site.json';

import { ClientRouter } from 'astro:transitions';

interface Props {
	title?: string;
	description?: string;
    image?: string;
}

const { title = site.title, description = site.description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
	<BaseHead title={title} description={description} image={image} />
        <ClientRouter />
        <script>
            import mermaid from 'mermaid';
            
            mermaid.initialize({ 
                startOnLoad: false, 
                theme: 'base',
                themeVariables: {
                    primaryColor: '#ffffff',
                    primaryTextColor: '#27272a', // zinc-800
                    primaryBorderColor: '#52525b', // zinc-600
                    lineColor: '#52525b', // zinc-600
                    secondaryColor: '#f4f4f5', // zinc-100
                    tertiaryColor: '#fff',
                    fontFamily: 'Inter, system-ui, sans-serif',
                    fontSize: '16px'
                }
            });

            async function renderMermaid() {
                const graphs = document.querySelectorAll('pre[data-language="mermaid"]');
                
                for (const graph of graphs) {
                    const content = graph.querySelector('code')?.textContent;
                    if (content) {
                         const div = document.createElement('div');
                         div.classList.add('mermaid', 'bg-gray-100', 'p-4', 'rounded-lg', 'overflow-x-auto');
                         div.textContent = content;
                         graph.replaceWith(div);
                    }
                }
                
                await mermaid.run({
                    querySelector: '.mermaid'
                });
            }

            document.addEventListener('astro:page-load', renderMermaid);
        </script>
	</head>
	<body class="bg-zinc-50 text-zinc-900 antialiased min-h-screen flex flex-col">
		<Header />
		<main class="flex-1 w-full max-w-2xl mx-auto px-4 py-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>
